### Question 1: [Macro] Average growth of GDP in 2023

**What is the average growth (in %) of GDP in 2023?**

Download the timeseries Real Gross Domestic Product (GDPC1) from FRED (https://fred.stlouisfed.org/series/GDPC1). 
Calculate year-over-year (YoY) growth rate (that is, divide current value to one 4 quarters ago). Find the average YoY growth in 2023 (average from 4 YoY numbers).
Round to 1 digit after the decimal point: e.g. if you get 5.66% growth => you should answer  5.7

In [1]:
# IMPORTS
import numpy as np
import pandas as pd

#Fin Data Sources
import yfinance as yf
import pandas_datareader as pdr

#Data viz
import plotly.graph_objs as go
import plotly.express as px

import time
from datetime import date

In [2]:

end = date.today()
print(f'Year = {end.year}; month= {end.month}; day={end.day}')

start = date(year=end.year-70, month=end.month, day=end.day)
print(f'Period for indexes: {start} to {end} ')

Year = 2024; month= 4; day=23
Period for indexes: 1954-04-23 to 2024-04-23

In [3]:
# https://fred.stlouisfed.org/series/GDPC1
gdpc1 = pdr.DataReader("GDPC1", "fred", start=start)

In [5]:
gdpc1.tail(4)

                GDPC1
DATE
2023-01-01  22112.329
2023-04-01  22225.350
2023-07-01  22490.692
2023-10-01  22679.255

In [11]:
gdpc1['gdppot_us_yoy'] = (gdpc1.GDPC1/gdpc1.GDPC1.shift(4)-1)*100
gdpc1['gdppot_us_qoq'] = (gdpc1.GDPC1/gdpc1.GDPC1.shift(4)-1)*100
gdpc1.tail(8)

                GDPC1  gdppot_us_yoy  gdppot_us_qoq
DATE
2022-01-01  21738.871       3.565082       3.565082
2022-04-01  21708.160       1.870598       1.870598
2022-07-01  21851.134       1.713213       1.713213
2022-10-01  21989.981       0.651692       0.651692
2023-01-01  22112.329       1.717927       1.717927
2023-04-01  22225.350       2.382468       2.382468
2023-07-01  22490.692       2.926887       2.926887
2023-10-01  22679.255       3.134491       3.134491

In [15]:
avg_gdpc1_us_2023 = gdpc1[-4:]['gdppot_us_yoy'].mean()
print(avg_gdpc1_us_2023)

2.5404433928676253

In [16]:
round(avg_gdpc1_us_2023,1)

2.5

### Question 2. [Macro] Inverse "Treasury Yield"

Find the min value of (dgs10-dgs2) after since year 2000 (2000-01-01) and write it down as an answer, round to 1 digit after the decimal point.

Download DGS2 and DGS10 interest rates series (https://fred.stlouisfed.org/series/DGS2, https://fred.stlouisfed.org/series/DGS10). Join them together to one dataframe on date (you might need to read about pandas.DataFrame.join()), calculate the difference dgs10-dgs2 daily.

(Additional: think about what does the "inverted yield curve" mean for the market and investors? do you see the same thing in your country/market of interest? Do you think it can be a good predictive feature for the models?)

In [19]:
start_Q2 = date(year=2000, month=1, day=1)
print(start_Q2)

2000-01-01

In [20]:
dgs2 = pdr.DataReader("DGS2", "fred", start=start_Q2)
dgs2.tail()

            DGS2
DATE
2024-04-16  4.97
2024-04-17  4.93
2024-04-18  4.98
2024-04-19  4.97
2024-04-22  4.97

In [21]:
dgs10 = pdr.DataReader("DGS10", "fred", start=start_Q2)
dgs10.tail()

            DGS10
DATE
2024-04-16   4.67
2024-04-17   4.59
2024-04-18   4.64
2024-04-19   4.62
2024-04-22   4.62

In [22]:
joined_df = dgs10.join(dgs2)
joined_df.tail()

            DGS10  DGS2
DATE
2024-04-16   4.67  4.97
2024-04-17   4.59  4.93
2024-04-18   4.64  4.98
2024-04-19   4.62  4.97
2024-04-22   4.62  4.97

In [24]:
joined_df['DGS10-DGS2'] = round(joined_df['DGS10'] - joined_df['DGS2'], 1)
joined_df.tail()

            DGS10  DGS2  DGS10-DGS2
DATE
2024-04-16   4.67  4.97        -0.3
2024-04-17   4.59  4.93        -0.3
2024-04-18   4.64  4.98        -0.3
2024-04-19   4.62  4.97        -0.3
2024-04-22   4.62  4.97        -0.3

In [25]:
joined_df['DGS10-DGS2'].min()

-1.1

### Question 3. [Index] Which Index is better recently?

Compare S&P 500 and IPC Mexico indexes by the 5 year growth and write down the largest value as an answer (%)

Download on Yahoo Finance two daily index prices for S&P 500 (^GSPC, https://finance.yahoo.com/quote/%5EGSPC/) and IPC Mexico (^MXX, https://finance.yahoo.com/quote/%5EMXX/). Compare 5Y growth for both (between 2019-04-09 and 2024-04-09). Select the higher growing index and write down the growth in % (closest integer %). E.g. if ratio end/start was 2.0925 (or growth of 109.25%), you need to write down 109 as your answer.

(Additional: think of other indexes and try to download stats and compare the growth? Do create 10Y and 20Y growth stats. What is an average yearly growth rate (CAGR) for each of the indexes you select?)

In [ ]:
yf.download()

In [29]:
snp500 = yf.download(tickers= "^GSPC",
                     start="2019-04-09", end="2024-04-10",
                     interval = "1d")

[*********************100%%**********************]  1 of 1 completed

In [30]:
snp500.tail()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-03,5194.370117,5228.750000,5194.370117,5211.490234,5211.490234,3703250000
2024-04-04,5244.049805,5256.589844,5146.060059,5147.209961,5147.209961,4075680000
2024-04-05,5158.950195,5222.180176,5157.209961,5204.339844,5204.339844,3386780000
2024-04-08,5211.370117,5219.569824,5197.350098,5202.390137,5202.390137,3278180000
2024-04-09,5217.029785,5224.810059,5160.779785,5209.910156,5209.910156,3400680000

In [31]:
mxx = yf.download(tickers= "^MXX",
                     start="2019-04-09", end="2024-04-10",
                     interval = "1d")

mxx.tail()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-04-03,57547.191406,58086.421875,57300.109375,57503.390625,57503.390625,189285300
2024-04-04,57539.468750,58219.500000,57514.179688,57882.761719,57882.761719,184739700
2024-04-05,57805.191406,58227.839844,57678.609375,58092.441406,58092.441406,212252300
2024-04-08,58021.660156,58192.320312,57749.441406,57989.941406,57989.941406,154641800
2024-04-09,58010.371094,58298.769531,57492.058594,57571.148438,57571.148438,202213300

In [47]:
def fiveY_growth(start_dt, end_dt, df):
    ratio = df.loc[end_dt]['Close']/df.loc[start_dt]['Close']
    return ratio

In [48]:
ratio_snp500 = fiveY_growth(start_dt='2019-04-09', end_dt='2024-04-09', df=snp500)
ratio_snp500

1.8101279426847174

In [49]:
ratio_mxx = fiveY_growth(start_dt='2019-04-09', end_dt='2024-04-09', df=mxx)
ratio_mxx

1.2750624912566744

SNP500 grow by 81.01% whereas MXX grow by 27.5%

### Question 4. [Stocks OHLCV] 52-weeks range ratio (2023) for the selected stocks

Find the largest range ratio [=(max-min)/max] of Adj.Close prices in 2023

Download the 2023 daily OHLCV data on Yahoo Finance for top6 stocks on earnings (https://companiesmarketcap.com/most-profitable-companies/): 2222.SR,BRK-B, AAPL, MSFT, GOOG, JPM.

Here is the example data you should see in Pandas for "2222.SR": https://finance.yahoo.com/quote/2222.SR/history

Calculate maximum-minimim "Adj.Close" price for each stock and divide it by the maximum "Adj.Close" value. Round the result to two decimal places (e.g. 0.1575 will be 0.16)

(Additional: why this may be important for your research?)

In [83]:
stocks = ['2222.SR','BRK-B','AAPL','MSFT','GOOG','JPM']

# Dictionary to hold dataframes for each stock
stock_dataframes = {}

for symbol in stocks:
    data =  yf.download(tickers= symbol,
                     start="2023-01-01", end="2023-12-31",
                     interval = "1d")
    # Store data in a dataframe with stock symbol as the key
    stock_dataframes[symbol] = data

[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [84]:
type(stock_dataframes['AAPL'])

pandas.core.frame.DataFrame

In [69]:
saudi_df = stock_dataframes['2222.SR']
brk_df = stock_dataframes['BRK-B']
aapl_df = stock_dataframes['AAPL']
msft_df = stock_dataframes['MSFT']
goog_df = stock_dataframes['GOOG']
jpm_df = stock_dataframes['JPM']

In [89]:
def largest_range_ratio(df, value):
    largest = (df[value].max() - df[value].min())/df[value].max()
    return round(largest,2)

In [90]:
for symbol in stocks:
    print(symbol)
    largest_ratio = largest_range_ratio(df=stock_dataframes[symbol], value = 'Adj Close')
    print(f"largest ratio for {symbol} is {largest_ratio}")

2222.SR
largest ratio for 2222.SR is 0.21
BRK-B
largest ratio for BRK-B is 0.21
AAPL
largest ratio for AAPL is 0.37
MSFT
largest ratio for MSFT is 0.42
GOOG
largest ratio for GOOG is 0.39
JPM
largest ratio for JPM is 0.28

In [75]:
aapl_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 250 entries, 2023-01-03 to 2023-12-29
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       250 non-null    float64
 1   High       250 non-null    float64
 2   Low        250 non-null    float64
 3   Close      250 non-null    float64
 4   Adj Close  250 non-null    float64
 5   Volume     250 non-null    int64
dtypes: float64(5), int64(1)
memory usage: 13.7 KB

In [94]:
msft = yf.Ticker("MSFT")

msft.get_actions()

                           Dividends  Stock Splits
Date
1987-09-21 00:00:00-04:00       0.00           2.0
1990-04-16 00:00:00-04:00       0.00           2.0
1991-06-27 00:00:00-04:00       0.00           1.5
1992-06-15 00:00:00-04:00       0.00           1.5
1994-05-23 00:00:00-04:00       0.00           2.0
...                              ...           ...
2023-02-15 00:00:00-05:00       0.68           0.0
2023-05-17 00:00:00-04:00       0.68           0.0
2023-08-16 00:00:00-04:00       0.68           0.0
2023-11-15 00:00:00-05:00       0.75           0.0
2024-02-14 00:00:00-05:00       0.75           0.0

[90 rows x 2 columns]

In [98]:
hist_msft = msft.history(start='2023-01-01', end='2023-12-31')

In [102]:
hist_msft[hist_msft['Dividends'] > 0]['Dividends'].sum()

2.79

In [105]:
tickers_dataframes = {}
for symbol in stocks:
    data = yf.Ticker(symbol)
    hist = data.history(start='2023-01-01', end='2023-12-31')
    tickers_dataframes[symbol] = hist

In [114]:
tickers_dataframes['AAPL'].tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-12-22 00:00:00-05:00,194.931260,195.160978,192.724085,193.353287,37122800,0.0,0.0
2023-12-26 00:00:00-05:00,193.363270,193.642911,192.584265,192.803986,28919300,0.0,0.0
2023-12-27 00:00:00-05:00,192.244692,193.253399,190.846467,192.903839,48087700,0.0,0.0
2023-12-28 00:00:00-05:00,193.892582,194.411923,192.923817,193.333298,34049900,0.0,0.0
2023-12-29 00:00:00-05:00,193.652887,194.152249,191.485654,192.284637,42628800,0.0,0.0

In [127]:
def dividend_yield(df, adj_close):
    dividend_paid = df[df['Dividends'] > 0]['Dividends'].sum()
    d_yield = (100 * dividend_paid)/adj_close
    return round(d_yield,1)

In [128]:
for symbol in stocks:
    print(symbol)
    dividend_yield_perc = dividend_yield(df=tickers_dataframes[symbol], adj_close=stock_dataframes[symbol].iloc[-1]['Adj Close'])
    print(f"largest ratio for {symbol} is {dividend_yield_perc}")

2222.SR
largest ratio for 2222.SR is 2.8
BRK-B
largest ratio for BRK-B is 0.0
AAPL
largest ratio for AAPL is 0.5
MSFT
largest ratio for MSFT is 0.7
GOOG
largest ratio for GOOG is 0.0
JPM
largest ratio for JPM is 2.4

Question 6. [Exploratory] Investigate new metrics

Free text answer

Download and explore a few additional metrics or time series that might be valuable for your project and write down why (briefly).

### Do be explored things like income_stmt, balance_sheet, cashflow to understand health of the stock you are trying learn about